In [1]:
from example.introduction_class import IntroductionClass
from example.read_df import testClass
import pandas as pd
import datetime as dt

In [2]:
print(IntroductionClass)
print(testClass)

<class 'example.introduction_class.IntroductionClass'>
<class 'example.read_df.testClass'>

In [3]:
testClass.read_data(IntroductionClass)

  Year Month  Confirmed_Test  Confirmed_New  Confirmed_Recovery       Date
0   Jan 2020     2500.901056    2683.795294         2801.509978 2020-01-01
1   Feb 2020     2331.820483    2266.819748         2431.251209 2020-02-01
2   Mar 2020     2674.416574    2423.780967         2905.532200 2020-03-01

In [4]:
jupyter_df = testClass.read_data(IntroductionClass)
jupyter_df['Confirmed_Recovery'].describe()

count       3.000000
mean     2712.764462
std       249.283853
min      2431.251209
25%      2616.380594
50%      2801.509978
75%      2853.521089
max      2905.532200
Name: Confirmed_Recovery, dtype: float64